<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="layoutHeadFragment">

	<title>Learn-Make Microservices</title>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <script type="text/javascript" src="/wro/weblibs.js"> </script>
    <link rel="stylesheet" type="text/css" href="/wro/weblibs.css" />
    <!-- APP specific resources
    <script type="text/javascript" src="/wro/app.js"  th:src="@{/wro/app.js}"> </script>
    -->

    <!-- ENV-aware loading resources using wro4j -->
    <script th:if="${not #arrays.isEmpty(@environment.getActiveProfiles())}"
            th:with="theEnv=${@environment.getActiveProfiles()[0]}"
            type="text/javascript"
            th:src="@{/wro/ext-__${theEnv}__.js}">
    </script>

</head>
</html>