<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="fragments/html_header :: layoutHeadFragment">
    <title id="pageTitle">Demo sample for CatPet</title>
</head>

<body>

    <div th:include="fragments/divtop :: divTop" />

    <div id="mainNavigation"></div>

    <div class="container">

        <div>
            <div id="title" class="span-24 last">
                Demo/sample page for Developers
            </div>

            <div id="content" class="span-18">
                <button type="button" id="display-demo" class="btn btn-primary">display-demo</button>
            </div>
        </div>


        <div id="footer" class="span-24 last">
            <div id="copyright">
                <p id="copyright-ab" th:text="#{catpet.footer}"></p>
            </div>
        </div>

    </div>
</body>
</html>
